@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// components
.sorry {
    padding: 50px;
    text-align: center;
    color: #fff;
}

body {
    background-color: #262626;
}

.gong {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 50px;
}